.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
}

.sidebar-left {
  background-color: black;
  color: white; 
  padding: 20px;
}

.main-content {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  color: black;
}

.sidebar-right {
  background-color: black;
  color: white;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul img {
  width: 60px;
  height: 60px;
}